<div class="footer">
    <nav class="nav-foot">
        <ul class="navbar" >
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ontvangst') }}"><img class="logoHome" src="{{ asset('image/Defense_nf.png') }}" alt="" /></a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('sponsor') }}">Sponsor</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('modaliteiten') }}">Praktische modaliteiten</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('activiteiten') }}">Activiteiten</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('kaartjes') }}">Kaartjes</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('programma') }}">Programma</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('faq_nl') }}">FAQ</a>
            </li>
        </ul>
    </nav>
    <div class="foot-mobile">
        <div class="row">
            <div class="text-center">
                <a class="nav-link" href="{{ path('ontvangst') }}"><img class="logoHome" src="{{ asset('image/Defense_nf.png') }}" alt="" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('sponsor') }}">Sponsor</a>
            </div>
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('activiteiten') }}">Activiteiten</a>
            </div>
        </div>
        <div class="row">
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('kaartjes') }}">Kaartjes</a>
            </div>
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('programma') }}">Programma</a>
            </div>
        </div>
        <div class="row">
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('modaliteiten') }}">Praktische modaliteiten</a>
            </div>
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('faq_nl') }}">FAQ</a>
            </div>
        </div>
    </div>
</div>