<div class="footer">
    <nav class="nav-foot">
        <ul class="navbar" >
            <li class="nav-item">
                <a class="nav-link" href="{{ path('accueil') }}"><img class="logoHome" src="{{ asset('image/Defense_nf.png') }}" alt="" /></a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('sponsors') }}">Sponsor</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('modalites') }}">Modalités pratiques</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('activites') }}">Activités</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('tickets') }}">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('programme') }}">Programme</a>
            </li>
            <li class="nav-item">
                <a class="menu-link" href="{{ path('faq_fr') }}">FAQ</a>
            </li>
        </ul>
    </nav>
    <div class="foot-mobile">
        <div class="row">
            <div class="text-center">
                <a class="nav-link" href="{{ path('accueil') }}"><img class="logoHome" src="{{ asset('image/Defense_nf.png') }}" alt="" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('sponsors') }}">Sponsor</a>
            </div>
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('activites') }}">Activités</a>
            </div>
        </div>
        <div class="row">
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('tickets') }}">Tickets</a>
            </div>
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('programme') }}">Programme</a>
            </div>
        </div>
        <div class="row">
            <div class="col link-foot" style="padding-bottom: 5px">
                <a class="menu-link link-foot" href="{{ path('modalites') }}">Modalités pratiques</a>
            </div>
            <div class="col link-foot">
                <a class="menu-link link-foot" href="{{ path('faq_fr') }}">FAQ</a>
            </div>
        </div>
    </div>
</div>