<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('image/efflux_garden.png') }}">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hamburger party @ CRC{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/smartphone.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/jqueryEasing.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        <script src="{{ asset('js/camol.js') }}"></script>
    {% endblock %}
</head>
<!--
            ,-----.
        \\ ====='.
         \\  ()   '.
          \\   \\/ \\/'.
           \\  || |   '._                             _,cmmmnc,_
            \\___68FS___\\'-._=----+- _______________,.-=: ###C-- `c._
)@@@@@@@   ,|=--------------`---'''`.   `  `.   `.   `,   `~''==='~`    `'-.___
 @@@@@@@@ :|                * CRC Family day  *                           .-`
@@@@@@@ ,dH] '       =(*)=         :       ---==;=--;  .   ;    +-- -_ .-`
 @@@@@@ ):HH]_:______________  ____,.........__     _____,.----=-''~ `
        ;:'''''----._.------\\`  :          .   `.'`'''''P
        |:      .-'==-.__)___\\. :        .   .'`___L~___(
        |:  _.'`       '|   / \\.:      .  .-`''`
        `'''            `--'   \\:    ._.-'
                               )_`============>-


            Author :
            CAMUS Olivier - olivier.camus@mil.be
-->
<!-- -->
<div class="vh-20 head-nav">
    <div class="text-center">
        <!-- -->
        <img alt="Air C2 Event Team" width="200px" src={{ asset('image/air_event_team.png') }}  />
        <!-- -->
    </div>
</div>

<body class="bgImage" style="background-image:url({{ asset('image/lines2.png') }});">

<h1>Thanks for your registration</h1>

</body>