<!DOCTYPE html>

<title>Beauvechain Air Base Day</title>

{% block body %}
    <link rel="icon" type="image/png" class="" href="{{ asset('image/BAF.jpg') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <body class ="bgImage"style="background-image:url({{ asset('image/lines2.png') }});">
    <main class="container">
{#        {% block message %}#}
{#            {% for label, messages in app.flashes %}#}
{#                {% for message in messages %}#}
{#                    <div class="alert alert-{{ label }}">#}
{#                        {{ message }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        {% endblock %}#}

        <div class="row d-flex align-content-center">
            <div class="col d-flex justify-content-center">
                <div class="vh-100 pt-lang">

                    <div class="card" style="max-width: 40rem;">
                        <div class="card-header text-center" style="color: #0a53be"><h3>choisissez votre langue / kies je taal</h3></div>
                        <div class="card-body text-center">
                            <a href="{{ path('accueil') }}"><button type="button" class="btn btn-primary btn-lg">Français</button></a>
                            <a href="{{ path('ontvangst') }}"><button type="button" class="btn btn-primary btn-lg">Nederlands</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    </body>
{% endblock %}
